<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="MigrationTool.Properties.Settings.dvdConnectionString"
         connectionString="data source=&quot;D:\Docs\Visual Studio 2008\Projects\MediaTek\dvd.db&quot;"
         providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>