<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DvdEntities" connectionString="metadata=res://*/DataModel.DvdModel.csdl|res://*/DataModel.DvdModel.ssdl|res://*/DataModel.DvdModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\Docs\Visual Studio 2008\Projects\MediaTek\dvd.db&quot;'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
