<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="MediaTek.Properties.Settings.SQLiteCS" connectionString="data source=&quot;D:\Docs\Visual Studio 2008\Projects\MediaTek\dvd.db&quot;"
           providerName="System.Data.SQLite" />
      <add name="MediaTek.Properties.Settings.SQLServerCS" connectionString="Data Source=TOM-PORTABLE\SQLEXPRESS;Initial Catalog=dvd;Integrated Security=True"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>