<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="MediatekDataEntities" connectionString="metadata=res://*/MediatekDataEntities.csdl|res://*/MediatekDataEntities.ssdl|res://*/MediatekDataEntities.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=D:\Docs\Visual Studio 2010\Projects\Mediatek\Database\Mediatek.sdf&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>