<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <connectionStrings>
    <add name="MediatekDb" connectionString="Data Source=|DataDirectory|\Mediatek.sdf" providerName="System.Data.SqlServerCe.3.5"/>
  </connectionStrings>
  
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="Mediatek.Data.IEntityRepositoryFactory, Mediatek.Data" mapTo="Mediatek.Data.EntityFramework.MediatekContextFactory, Mediatek.Data.EntityFramework">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
